# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# uv
# Do not ignore uv.lock
.uv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/
.coverage
coverage.xml

# IDEs
.idea/
.vscode/
*.swp
*.swo

# mypy
.mypy_cache/

# ruff
.ruff_cache/
.DS_Store
